body {
  background-color: orange;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: bold;
}

button {
    color: white;
    background-color: hotpink;
    font-size: 100%;
    padding: 5px 20px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 30%;
    transition: background-color 250ms ease-in-out;
    padding: 2s ease-in-out;
    border: 4px;
  }

h2{
  font-family: 'Fascinate Inline', cursive;
  color: white;
  text-shadow: 2px 2px gold;
  letter-spacing: 3px;
  font-size: 30px;
}

input[type=text] {
  border: 2px solid hotpink;
  border-radius: 5px;
  background-color: gold;
  color: hotpink;
}

a {
  color:white;
}

a:hover{
  flex:1;
  color: orange;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
