*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
 color: linear-gradient(to bottom right, red, yellow);
 width: max;
}

/*.background {
  background: linear-gradient(hotpink, orange, gold);
}
*/
.container{
  width: 100%;
  min-height: 100vh;
  padding-left:8%;
  padding-right:8%:
  box-sizing: border-box;
  overflow:hidden;

}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-icon{
  width:30px;
  cursor: pointer;
  display: none; 
}
nav{
  flex: 1;
  text-align: center;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a{
  text-decoration: none;
  color: hotpink;
}
nav ul li a:hover{
  color: gold;
}
.row{
  display: flex;
  justify-context: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1:{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2{
  font-size: 60px;
  color: hotpink;
}
.col-1 h3{
  font-size: 30px;
  font-style: italic;;
  color: pink;
  font-weight: 80;
  margin: 10px 0 10px;
}
.col-2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-2 .meworkweek{
  width:80%;
  height: 50%;
  border-radius: 50%;
  margin-left: 40px;
}

@media only screen and (max-width:600px){

  nav ul {
  width: 100%;
  background: linear-gradient(white,lightpink);
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li:a{
    color: orange;
}

.menu-icon{
  display: block;
  margin-right: 50px;
}

#menuList{
  overflow: hidden;
  transition: 0.5s;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.row{
  flex-direction: column-reverse;
  margin: 50px 0;
}

.col-2 .meworkweek{
  width:60%;

}
