*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
 background-color: hotpink;
}


.container{
  width: 100%;
  min-height: 100vh;
  padding-left:8%;
  padding-right:8%:
  box-sizing: border-box;
  overflow:hidden;

}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-icon{
  width:30px;
  cursor: pointer;
  display: none;
}
nav{
  flex: 1;
  text-align: center;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  color: gold;
}
.row{
  display: flex;
  justify-context: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1{
  flex-basis: 20%;
  position: relative;
  margin-left: 20px;
}
h2{
  font-size: 60px;
  color: white;
  font-family: 'Fascinate Inline', cursive;
  text-shadow: 3px 3px gold;
  letter-spacing: 3px;
}

h2:hover{
  flex:1;
  color: orange;
  text-decoration: none;
  transition: all 0.25s ease-out;
}

h3{
  font-size: 30px;
  color: pink;
  font-weight: 80;
  margin: 10px 0 10px;
  font-family: 'Quicksand', sans-serif;

}
.col-2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  margin-left:100px;
}
.col-1 .aboutmeslay{
  width:80%;
  height: 50%;
  margin-left: 40px;
}

a {
  font-family: 'Quicksand',sans-serif;
  color: white;
}
a:hover{
  color:gold;
  transition: 0.5s, ease-out;
}
p {
  font-family: 'Quicksand',sans-serif;
  color: white;
}


@media screen and (max-width:600px){

<meta name="viewport" content="width=device-width, initial-scale=1">

  nav ul {
  width: 100%;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  nav ul li:a{
    color: orange;
}

.menu-icon{
  display: block;
  margin-right: 50px;
}

#menuList{
  overflow: hidden;
  transition: 0.5s;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.row{
  flex-direction: column;
  margin: 50px 0;
}

.col-2 .meworkweek{
  width:60%;

}

.col-2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  margin-left:10px;
}
