@media screen and (max-width: 449px) {

.header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px gold;
  letter-spacing: 3px;
}
}

  .firstbox {
    background-color: orange;
  }

  .toc {
    background-color: orange;
    font-family:'Quicksand', sans-serif;
    color: white;
  }

  body {
    background-color: orange;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bold;
  }

.image {
  position: relative;
  text-align: center;
  color: white;
  width = "450";
  height = "400";
}
  .content {
    background-color: orange;
    text-align: center;
  }

  .container {
    display:grid;
    background-color: orange;
    grid-template-rows: 1fr 1fr;
  }

  a:link{
    color:white;
    text-shadow: .5px .5px hotpink;
    text-decoration: none;
    margin-bottom:-5px;
    font-family: 'Quicksand', sans-serif;
  }
  }
  a:visited{
  color: gold;
  }
  h1:hover{
    flex:1;
    color: orange;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
.header {
  font-family: 'Ranchers', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px gold;
  letter-spacing: 3px;
}

button {
    color: white;
    background-color: hotpink;
    font-size: 45px;
    padding: 5px 20px;
    font-family: "Snell Roundhand", cursive;
    border-radius: 20px;
    transition: background-color 250ms ease-in-out;
    padding: 2s ease-in-out;
    border: none;

}
.smallbutton {
  display: inline-block;
  background-color: lightsalmon;
        border-radius: 10px;
        border: 4px double pink;
        color: gold;
        text-align: center;
        font-size: 30px;
        font-style: italic;
        padding: 10px;
        width: auto;
}
}
}

h3 {
  font-family:'Ranchers', sans-serif;
  color: white;
  text-shadow: 2px 2px gold;
  letter-spacing: 3px;
  font-size: 30px;
}
  p {
  background-color: lightsalmon;
  font-family: 'Quicksand', sans-serif;
  }


/* DESKTOP VIEW:*/

@media screen and (min-width: 450px) {
.header {
  grid column: 1 / 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px gold;
  letter-spacing: 3px;
}

body {
  background-color: orange;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: bold;
}
}


.toc {
  font-family:'Quicksand', sans-serif;
  color: white;
  grid-row: 1 / 2;
  grid-column: 2 / 2;
}

.content {
  background-color: orange;
  font-family: 'Quicksand', sans-serif;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-left: 50px;
  margin-right:50px;
}

.container {
  display:grid;
  background-color: orange;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 100px;
}

.image {
  position: relative;
  text-align: center;
  color: white;
  width: auto;
  height = "500";
}

.header {
  font-family: 'Ranchers', cursive;
  font-size: 50px;
}
a:link{
  color:white;
  text-shadow: .5px .5px hotpink;
  text-decoration: none;
  margin-bottom:-5px;
  font-family: 'Quicksand', sans-serif;
}
a:hover{
color: gold;
}
a:visited{
color: orange;
}

h1:hover{
  flex:1;
  color: orange;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

}
p {
  font-family:'Quicksand', sans-serif;
  color: white;
}


h3 {
  font-family:'Ranchers', sans-serif;
  color: white;
  text-shadow: 2px 2px gold;
  letter-spacing: 3px;
  font-size: 30px;
}

button {
    color: white;
    background-color: hotpink;
    font-size: 25px;
    padding: 1px 15px;
    font-family: "Snell Roundhand", cursive;
    border-radius: 20px;
    transition: background-color 250ms ease-in-out;
    padding: 2s ease-in-out;
    border: none;

}

.smallbutton {
  display: inline-block;
  background-color: lightsalmon;
        border-radius: 10px;
        border: 4px pink;
        color: gold;
        text-align: center;
        font-size: 10px;
        font-style: italic;
        padding: 10px;
        width: auto;
}
}
}
}
